* {
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.left-side{
	background-color: rgb(19, 171, 179);
	border-radius: 2px;
}

.right-side {
	display:grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 50px 140px 400px 1fr;
}

img {
	height:60px;
	width:60px;
	border-radius: 50px;
}

.header1 {
	display:flex;
	grid-column: 1 / span 2;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px 90px 0px 50px;
}

.right-side-header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.left-side-header {
	padding-top: 10px;
}

.header2 {
	display: flex;
	grid-column: 1 / span 2;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 1px 0.5px  #b9b8b8;
	border-radius: 3px;
}

.left-side-header2 {
	padding-left: 30px;
	display: grid;
	grid-template-columns: 50% 50%;
	font-size: 20px;
}

.left-side-header2 .hi {
	margin: 0px;
	align-self: flex-end;
	font-size: 15px;
}

.left-side-header2 .name {
	margin-top: 10px;
	min-width: 250px;
}

.left-side-header2 .icon {
	grid-column: 1 / 2;
	grid-row: 1 / span 2;
	align-self: center;
	justify-self: center;
	height: 60px;
	width: 60px;
}

.buttons {
	display: flex;
	gap: 25px;
	padding-right: 50px;
}

.blue-btn {
	width: 80px;
	height: 35px;
	border-radius: 15px;
	border: none;
	background-color: rgb(117, 117, 202);
	color: white;
	font-weight: bold;
}

.projects-container {
	grid-row: 3 / span 2;
	grid-column: 1 / 2;
	padding-left: 20px;
	padding-right: 35px;
}

.cards {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(3, 225px);
	gap: 15px;
}

.card p {
	margin-top: 0px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	box-shadow: 0px 2px 1px 0.5px  #b9b8b8;
	box-shadow: -5px 0px 1px rgb(245, 200, 2);
	padding: 20px;
	font-size: 14px;
}

.card .icons {
	display: flex;
	gap: 15px;
	align-self: flex-end;
	justify-self: flex-end;
}

.announcements {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.announcement {
	background-color: white;
	font-size: 12px;
	padding: 0px 20px 0px 20px;
	margin-top: 2px;
	box-shadow: 0px 2px 1px 0.5px  #b9b8b8;
}

.announcements-container {
	grid-column: 2 / 3;
}

.projects-container, .announcements-container, .trending-container {
	background-color: rgb(208, 228, 230);
}

.announcements-container, .trending-container {
	padding-right: 40px;
}

.projects-container, .trending-container {
	padding-bottom: 100px;
}

.trendings {
	display: flex;
	flex-direction: column;
}

.trending {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: repeat(2, 36.5px);
	align-items: center;
	background-color: white;
	font-size: 14px;
}

.cards p, .trendings p, .announcements p {
	color: rgb(95, 94, 94);
}

.trending .icon {
	grid-row: 1/ span 2;
	align-self: center;
	justify-self: center;
	width: 40px;
	height: 40px;
}

.trending h5 {
	margin-bottom: 0px;
}

.trending p {
	margin-top: 2px;
}

.card, .trending, .announcement {
	border-radius: 6px;
}

.dashboard {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 20px;
	color: white;
	font-weight: bold;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding-bottom: 30px;
}


.top-buttons {
	display: grid;
	grid-template-columns: 50px 1fr;
	row-gap: 25px;
}

.bottom-buttons {
	padding-top: 50px;
	display: grid;
	grid-template-columns: 50px 1fr;
	row-gap: 25px;
}

.searchbar {
	background-color: rgb(208, 228, 230);
	width: 550px;
	border-radius: 10px;
	border: none;
}

.name {
	font-weight: 700;
}

.projects-container, .announcements-container {
	margin-top: 3px;
}
